.status-bar {
  display: flex; /* 노서비스, 18:43, 들 같은줄에놓기위해 */
  justify-content: center; /* 분리시켜서배치하기위해 */
  padding: 5px 3px;
  padding-bottom: 20px;
}
.status-bar__column {
  width: 33%;
} /* 정확히 중간에  위치시키기위한 */

.status-bar__column:first-child span {
  margin-right: 5px;
}
/* 노서비스와 와이파이 기호 사이에 간격을두기위한코드 */

.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
/* 2번쨰컬럼 (18:43)이 중앙위치하게 */
.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* 3번쨰컬럼  */

.status-bar__column .fa-battery-full {
  margin: 0px 5px;
} /* 배터리아이콘, 공간만들기ㅣ */
